# Identificación de Títulos Faltantes

Este notebook tiene como objetivo identificar los títulos de películas presentes en el dataset principal, utilizado para realizar el clustering, que aún no han sido scrapeados. Para ello, se compara un dataset con los títulos ya procesados contra otro que contiene los títulos agrupados por características de clúster, permitiendo planificar el scraping en batch. 

El resultado final es una lista de títulos faltantes que será utilizada posteriormente en el notebook de web scraping.

In [2]:
import pandas as pd

In [3]:
#Tablon de las reseñas de las películas
df = pd.read_csv("C:\\Users\\Usuario\\Desktop\\Netflix\\Raw_data\\df_reseñas.csv",index_col=0)
df_clustered = pd.read_csv("C:\\Users\\Usuario\\Desktop\\Netflix\\Raw_data\\df_clustered.csv",index_col=0)

#### Tablón con todas las reseñas

In [4]:
df.head()

,title,Título_commentario,Comentario
0,Five Came Back: The Reference Films,Compelling examination of propaganda,An American documentary; A film about five suc...
1,Five Came Back: The Reference Films,Riveting and a must see,"Just finished watching""Five came back"", a trul..."
2,Five Came Back: The Reference Films,Spectacular,I have never seen any film made by those five ...
3,Five Came Back: The Reference Films,Breathtaking,I am an AVID WW2 history buff. I've watched co...
4,Five Came Back: The Reference Films,Superb documentary series,During World War 2 several movie directors joi...

#### Cluster data

In [4]:
df_clustered.head()

,title,action,animation,comedy,crime,documentation,drama,european,family,fantasy,...,UY,VA,VE,VN,ZA,ZW,periodo_fecha_Actual,periodo_fecha_Clasica,periodo_fecha_Moderna,cluster
id,,,,,,,,,,,,,,,,,,,,,
ts300399,Five Came Back: The Reference Films,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,False,True,False,5
tm82169,Rocky,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,False,True,False,8
tm17823,Grease,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,False,True,False,8
tm191099,The Sting,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,False,True,False,2
tm69975,Rocky II,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,False,True,False,8

### Lógica para obtener las películas faltan por scrapear.

In [6]:
# Titulos ya scrapeados
titulos_scrapeados = df["title"].unique()

# Titulos del Cluster
titulos_cluster = df_clustered["title"].unique()

# Obtener títulos no scrapeados usando conjuntos
titulos_no_scrapeados = list(set(titulos_cluster) - set(titulos_scrapeados))

#convertir a dataframe
titulos_no_scrapeados = pd.DataFrame(titulos_no_scrapeados, columns=["title"])

In [7]:
titulos_no_scrapeados.head()

Empty DataFrame
Columns: [title]
Index: []

#### Exportamos a csv los titulos que faltan y el tablón enriquezido

In [8]:
# df_actualizado.to_csv("C:\\Users\\Usuario\\Desktop\\Netflix\\Raw_data\\reseñas_tablon.csv")

In [9]:
# titulos_no_scrapeados.to_csv("C:\\Users\\Usuario\\Desktop\\Netflix\\Raw_data\\titulos_no_scrapeados.csv")